{% extends 'entries/base.html' %}
{% load static %}
<!-- Aca termina el NAVbar-->
{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-10 ">
              {% for entry in blog_entries %}
                <div class="card mb-3">
                {% if entry.entry_image %}
                  <img src="{{entry.entry_image.url}}" class="img-fluid">
                {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{entry.entry_title}}</h5>
                      <p class="card-text">{{entry.entry_test|truncatechars:600|safe }}</p>
                      <a href="{% url 'entry-detail' entry.pk %}" class="">Leer mas.</a>
                      <p class="card-text"><small class="text-muted">Posted on {{entry.entry_date}}</small></p>
                    </div>
                </div>
              {% endfor %}
              <!--Inicio de paginacion-->
                {% if is_paginated %}
                <ul class="pagination justify-content-center">

                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" >Previous</a>
                  </li>
                  {% endif %}

                  {% for i in paginator.page_range %}

                  {% if page_obj.number == i %}
                    <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                  {% endif %}
                  
                  {% endfor %}

                  {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                  </li>
                  {% endif %}
                </ul>
                {% endif %}
              <!--fin de paginacion-->
            </div>
        </div>
    </div>
{% endblock %}       
 